<div id="login">
	<form action="?page=login" method="POST" >
		Palun logi kasutajakontoga sisse:<br>
		<input type="text" name="user" placeholder="kasutajanimi"/><br/>
		<input type="password" name="pass" placeholder="parool"/><br/>
		<input type="submit" value="LOGI SISSE!"/>
	</form>
	<b>KASUTAJA:</b><br>
	kaarel<br>
	v2garaskepar00l<br><br>
	<b>ADMINISTRAATOR:</b><br>
	administraator<br>
	v2garaskepar00l
	<?php if (isset($errors)):?>
		<?php foreach($errors as $error):?>
			<div style="color:red;"><?php echo htmlspecialchars($error); ?></div>
		<?php endforeach;?>
	<?php endif;?>
</div>
