<form action="?page=lisakulu" method="POST" enctype="multipart/form-data">
<table>
	<tr><td>Kuupäev:</td><td><input type="date" name="date"></td></tr><br>
	<tr><td>Liik:</td><td>
	<?php display_kululiigivalik(); ?>
	</td></tr><br>
	<tr><td>Summa:</td><td><input type="text" name="summa"></td></tr><br>
	<tr><td>Märkus:</td><td><input type="text" name="m2rkus"></td></tr><br>
</table>
<input type="submit" value="Lisa uus kulurida"/>
</form>
<?php if (isset($errors)):?>
		<?php foreach($errors as $error):?>
			<div style="color:red;"><?php echo htmlspecialchars($error); ?></div>
		<?php endforeach;?>
	<?php endif;?>
